@page "/Slider/13Limits"

<div class="content-wrapper">
    <div class='sliderwrap'>
        <label class="userselect">MinRange Slider With Limits</label>
        <EJSSlider id="minrange" Value="25" Min="0" Max="100" Type=SliderType.MinRange>
            <SliderTicksData Placement="@Placement.Before" LargeStep="20" SmallStep="5" ShowSmallTicks="true"></SliderTicksData>
            <SliderTooltipData IsVisible="true" Placement="@TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltipData>
            <SliderLimitData Enabled="true" MinStart="@currentMinStart" MinEnd="@currentMinEnd"></SliderLimitData>
        </EJSSlider>
    </div>
    <div class='sliderwrap'>
        <label class="userselect">Range Slider With Limits</label>
        <EJSSlider id="range" Value="@val" Min="0" Max="100" Type=SliderType.Range>
            <SliderTicksData Placement="@Placement.Before" LargeStep="20" SmallStep="5" ShowSmallTicks="true"></SliderTicksData>
            <SliderTooltipData IsVisible="true" Placement="@TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltipData>
            <SliderLimitData Enabled="true" MinStart="@currentMinStart" MinEnd="@currentMinEnd" MaxStart="@currentMaxStart" MaxEnd="@currentMaxEnd"></SliderLimitData>
        </EJSSlider>
    </div>
</div>

@code{
    int[] val = { 25, 75 };
    int currentMinStart = 10;
    int currentMinEnd = 40;
    int currentMaxStart = 60;
    int currentMaxEnd = 90;

}
<style>


    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 45px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }

    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
    }

    .property-custom td {
        padding: 5px;
    }
</style>
