@page "/listview/11SimpleList"
@using System.Collections.ObjectModel

<h4 class="sample-title">Simple List with ObservableCollection</h4>

<EjsListView HtmlAttributes="@HTMLProps"
             DataSource="@DataSource"
             ShowHeader="true"
             HeaderTitle="@HeaderTitle">

    <ListViewFieldSettings Id="Id" Text="Text"></ListViewFieldSettings>

</EjsListView>
<div>
    <button @onclick="@AddItem" class="e-btn e-info">Add item</button>
    <button @onclick="@RemoveItem" class="e-btn e-info">Remove item</button>
</div>
@code {
    string HeaderTitle = "Listview header";

    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };

    ObservableCollection<DataModel> DataSource = new ObservableCollection<DataModel>()
{
        new DataModel{ Id = "1", Text = "Artwork"},
        new DataModel{ Id = "2", Text = "Abstract"},
        new DataModel{ Id = "3", Text = "Modern Painting"},
        new DataModel{ Id = "4", Text = "Ceramics"},
        new DataModel{ Id = "5", Text = "Animation Art"},
        new DataModel{ Id = "6", Text = "Oil Painting"},
    };

    void AddItem()
    {
        DataSource.Add(new DataModel { Id = "7", Text = "Test item" });
    }

    void RemoveItem()
    {
        DataSource.RemoveAt(0);
    }

    class DataModel
    {
        public string Id { get; set; }
        public string Text { get; set; }

    }
}
