@page "/listview/16ListPublicMethods"
@using Newtonsoft.Json
@using Syncfusion.EJ2.Blazor

<EjsListView @ref="EjsListView" ModelType="@_DataModel" HtmlAttributes="@htmlattr" DataSource="@dataSource" ShowHeader="true" HeaderTitle="@HeaderTitle">
    <ListViewFieldSettings Id="Id" Text="Text"></ListViewFieldSettings>
    <ListViewTemplates>
        <Template>
            <div>@context.Text</div>
        </Template>
    </ListViewTemplates>
</EjsListView>

<div class="padding">
    <div>Selected item: @SelectedItemValue?.Text</div>
    <button @onclick="@getSelectedItems">Get Selected items</button>
</div>

<div class="padding">
    <div>Find item: @FindItemValue?.Text</div>
    <button @onclick="@findItem">Find item</button>
</div>

@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }
    DataModel _DataModel = new DataModel();
    EjsListView EjsListView;

    string HeaderTitle = "Listview header";

    SelectedItem SelectedItemValue;

    DataModel FindItemValue;

    Dictionary<string, object> htmlattr = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };

    List<DataModel> dataSource = new List<DataModel>()
{
        new DataModel{ Id = "1", Text = "1"},
        new DataModel{ Id = "2", Text = "2"},
        new DataModel{ Id = "3", Text = "3"},
        new DataModel{ Id = "4", Text = "4"},
    };

    async void getSelectedItems()
    {
        var item = await EjsListView.GetSelectedItems();
        if (item != null)
        {
            SelectedItemValue = JsonConvert.DeserializeObject<SelectedItem>(item.ToString());
            this.StateHasChanged();
        }
    }

    async void findItem()
    {
        DataModel data = new DataModel { Id = "1", Text = "1" };
        var item = await EjsListView.FindItem(data);
        if (item != null)
        {
            FindItemValue = JsonConvert.DeserializeObject<DataModel>(item.ToString());
            this.StateHasChanged();
        }
    }

    class DataModel
    {
        public string Id { get; set; }
        public string Text { get; set; }
    }

    class SelectedItem
    {
        [JsonProperty("data")]
        public DataModel Data { get; set; }

        [JsonProperty("item")]
        public DOM Item { get; set; }

        [JsonProperty("text")]
        public string Text { get; set; }
    }

}

<style>
    .padding {
        margin: 10px 0;
    }
</style>
