@page "/listview/21TemplateEvents"


<div class="list-item-container">
    <div style="flex: 1">
        <EjsListView ID="groupedList" DataSource="@dataSource" ModelType="@dataModel" ShowHeader="true" CssClass="e-list-template" HeaderTitle="Settings" Width="400">
            <ListViewFieldSettings Id="Id" Text="Name"></ListViewFieldSettings>
            <ListViewTemplates>
                <Template>
                    <div class="list-item-container">
                        <div class="list-item-text" @onclick="@((e) => { onClick(context.Name); })">@context.Name</div>
                        <div class="list-item-button">
                            <a class="btn btn-primary" href="/models/@context.Id">Enter</a>
                        </div>
                    </div>
                </Template>
            </ListViewTemplates>
        </EjsListView>
    </div>
    <div style="flex: 1">
        <h4>Selected item: @selectedItem</h4>
    </div>
</div>

@code {
    string selectedItem = null;

    List<DataModel> dataSource = new List<DataModel>()
{
        new DataModel { Name= "WI-FI", Content = "Disabled", Id = "1", Class = "wifi", Category = "Wireless & networks", Order = 0 },
        new DataModel { Name= "Bluetooth", Content = "Disabled", Id = "2", Class = "bluetooth", Category = "Wireless & networks", Order = 0 },
        new DataModel { Name= "SIM cards", Id = "3", Content = "AT&T", Class = "sim", Category = "Wireless & networks", Order = 0 },
        new DataModel { Name= "Display", Content = "Adaptive brightness is OFF", Id = "4", Class = "display", Category = "Device", Order = 1 },
        new DataModel { Name= "Sound", Content = "Ringer volume at 50%", Id = "5", Class = "sound", Category = "Device", Order = 1 },
        new DataModel { Name= "Battery", Content = "85%", Id = "5", Class = "battery", Category = "Device", Order = 1 },
        new DataModel { Name= "Users", Content = "Signed in as Albert", Id = "6", Class = "user", Category = "Device", Order = 1 },
        new DataModel { Name= "Location", Content = "ON / High accuracy", Id = "7", Class = "location", Category = "Personal", Order = 2 },
        new DataModel { Name= "Security", Id = "8", Content = "Screen Lock", Class = "security", Category = "Personal", Order = 2 },
        new DataModel { Name= "Languages & input", Content = "English (US)", Id = "9", Class = "language", Category = "Personal", Order = 2 }
    };

    DataModel dataModel = new DataModel();

    class DataModel
    {
        public string Name { get; set; }
        public string Content { get; set; }
        public string Id { get; set; }
        public string Class { get; set; }
        public string Category { get; set; }
        public int Order { get; set; }

    }

    void onClick(string text)
    {
        selectedItem = text;
    }

}

<style>
    .list-item-container {
        display: flex;
        align-items: center;
        padding: 0.65em;
    }

    .list-item-text {
        flex: 1;
        cursor: pointer;
    }

    .list-item-button {
        flex: 0;
    }
</style>