@page "/listview/22Virtualization"
@using Syncfusion.EJ2.Blazor

<h4 class="sample-title">List Virtualization</h4>



<div style="display: flex;">
    <Ejslistview id="ui-list" DataSource="@Data" @ref="@NormalList" Template="@Template" EnableVirtualization="true" CssClass="e-list-template" HeaderTitle="Contacts"
                 Height=400 ShowHeader="true">
        <listViewFieldSettings Text="name"></listViewFieldSettings>
        <ListViewEvents TValue="DataModel" Selected="@((e) => OnSelect(e))"></ListViewEvents>
    </Ejslistview>

    <Ejslistview DataSource="@Data" @ref="@CheckList" ShowCheckBox="true" EnableVirtualization="true" HeaderTitle="Contacts" Height=400 ShowHeader="true">
        <listViewFieldSettings Text="name"></listViewFieldSettings>
        <ListViewEvents TValue="DataModel" Selected="@((e) => OnSelect(e))"></ListViewEvents>
    </Ejslistview>
</div>
<div>
    <h4>Current Selected item: <span id="selected-item">@selecteditem</span></h4>
</div>

<div style="display: flex;flex-wrap: wrap;justify-content: flex-start;">
    <div class="padding">
        <div class="bold">Normal List Selected item</div>
        @{
            @if (NormalListSelected != null)
            {
                @foreach (var itemValue in NormalListSelected)
                {
                    <div id="getselecteditem_content" class="italic">@(itemValue.name)</div>
                }
            }
            else
            {
                <div id="getselecteditem_content" class="italic">Nothing Yet</div>
            }

        }

        <button id="getselecteditem" class="e-btn e-info" @onclick="@GetSelectedItems">Get Selected items</button>
    </div>

    <div class="padding">
        <div class="bold">Check List Selected item</div>
        @{
            @if (CheckListSelected != null)
            {
                @foreach (var itemValue in CheckListSelected)
                {
                    <div id="getselecteditem_content" class="italic">@(itemValue.name)</div>
                }
            }
            else
            {
                <div id="getselecteditem_content" class="italic">Nothing Yet</div>
            }

        }

    </div>
</div>


@code{
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    List<DataModel> NormalListSelected;
    List<DataModel> CheckListSelected;

    EjsListView<DataModel> NormalList;
    EjsListView<DataModel> CheckList;

    string selecteditem = "null";

    string Template = "<div class='e-list-wrapper e-list-avatar'>" +
                 "<span id=\"${$imgUrl ? \'hideUI\' : \'showUI\' }\" class='e-avatar e-avatar-circle' icon='${icon}'> " +
            "${icon}</span> <img id=\"${$imgUrl ? \'showUI\' : \'hideUI\' }\" class='e-avatar e-avatar-circle' src=\"${$imgUrl ?  $imgUrl : \' \' }\" />" +
            "<span class='e-list-content'>${name}</span></div>";

    List<DataModel> CommonData = new List<DataModel>();
    List<DataModel> Data = new List<DataModel>();


    void OnSelect(Syncfusion.EJ2.Blazor.Lists.SelectEventArgs<DataModel> selectEventArgs)
    {
        selecteditem = selectEventArgs.Data.name;
    }

    async void GetSelectedItems()
    {
        ListSelectedItem<DataModel> item = await NormalList.GetSelectedItems();

        NormalListSelected = item.Data;

        item = await CheckList.GetSelectedItems();

        CheckListSelected = item.Data;

        this.StateHasChanged();
    }

    protected override void OnInit()
    {
        base.OnInit();

        CommonData.Add(new DataModel { name = "Nancy", imgUrl = "", icon = "N", id = "0" });
        CommonData.Add(new DataModel { name = "Andrew", imgUrl = "", icon = "A", id = "1" });
        CommonData.Add(new DataModel { name = "Janet", imgUrl = "", icon = "J", id = "2" });
        CommonData.Add(new DataModel { name = "Margaret", icon = "", imgUrl = "https://ej2.syncfusion.com/demos/src/listview/images/margaret.png", id = "3" });
        CommonData.Add(new DataModel { name = "Steven", imgUrl = "", icon = "S", id = "4" });
        CommonData.Add(new DataModel { name = "Laura", icon = "", imgUrl = "https://ej2.syncfusion.com/demos/src/listview/images/laura.png", id = "5" });
        CommonData.Add(new DataModel { name = "Robert", imgUrl = "", icon = "R", id = "6" });
        CommonData.Add(new DataModel { name = "Michael", imgUrl = "", icon = "M", id = "7" });
        CommonData.Add(new DataModel { name = "Albert", icon = "", imgUrl = "https://ej2.syncfusion.com/demos/src/listview/images/albert.png", id = "8" });
        CommonData.Add(new DataModel { name = "Nolan", imgUrl = "", icon = "N", id = "9" });

        List<DataModel> generateData(int no)
        {
            int index = 0;
            int spyIndex = 0;
            List<DataModel> data = new List<DataModel>();
            for (int i = 0; i < no; i++)
            {
                while (index == spyIndex)
                {
                    index = new Random().Next(0, 10);
                }
                data.Add(new DataModel
                {
                    name = CommonData[index].GetType().GetProperty("name").GetValue(CommonData[index], null).ToString(),
                    icon = CommonData[index].GetType().GetProperty("icon").GetValue(CommonData[index], null).ToString(),
                    imgUrl = CommonData[index].GetType().GetProperty("imgUrl").GetValue(CommonData[index], null).ToString(),
                    id = i.ToString()
                });
                spyIndex = index;
            }

            return data;
        }

        Data = generateData(1000);
    }

    class DataModel
    {
        public string name { get; set; }
        public string imgUrl { get; set; }
        public string icon { get; set; }
        public string id { get; set; }

    }
}

<style>

    /* ListView position alignment */

    div.e-listview {
        width: 325px;
        line-height: initial;
        border: 1px solid lightgray;
        display: inline-block;
    }

    /* ListView header alignment */

    #ui-list.e-listview .e-list-header {
        height: 50px
    }

        #ui-list.e-listview .e-list-header .e-text {
            line-height: 18px
        }

    /* ListView template customization */

    #ui-list.e-listview #showUI {
        display: flex;
    }

    #ui-list.e-listview #hideUI {
        display: none;
    }

    #ui-list.e-listview .e-list-item {
        padding: 3px 0;
    }

    #ui-list.e-listview [icon="R"] {
        background: lightgrey;
    }

    #ui-list.e-listview [icon="M"] {
        background: pink;
    }

    #ui-list.e-listview [icon="A"] {
        background: lightgreen;
    }

    #ui-list.e-listview [icon="S"] {
        background: lightskyblue;
    }

    #ui-list.e-listview [icon="J"] {
        background: orange;
    }

    #ui-list.e-listview [icon="N"] {
        background: lightblue;
    }

    /* ListView theme customization */

    .highcontrast #ui-list.e-listview .e-list-item,
    .highcontrast #ui-list.e-listview .e-list-header {
        background: rgb(0, 0, 0);
    }

        .highcontrast #ui-list.e-listview .e-list-item.e-active {
            background: #ffd939;
            color: #000000;
        }
</style>

<style>
    .padding {
        margin: 10px;
    }

        .padding * {
            margin: 5px 10px;
        }

    .e-listview {
        margin: 10px;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }
</style>