@page "/listview/99TestSample"
@using System.Collections.ObjectModel
@using Model

<h4 class="sample-title">Test sample</h4>

<EjsListView HtmlAttributes="@HTMLProps"
             DataSource="@DataSource"
             ShowHeader="true"
             HeaderTitle="@HeaderTitle"
             Height="500"
             EnableVirtualization="true">

    <ListViewFieldSettings Id="Id" Text="Text" HtmlAttributes="HtmlProperties"></ListViewFieldSettings>
</EjsListView>
<div>
    <button @onclick="@AddItem" class="e-btn e-info">Add item</button>
    <button @onclick="@RemoveItem" class="e-btn e-info">Remove item</button>
</div>

@code {
    string HeaderTitle = "Listview header";

    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };

    ObservableCollection<ListDataModel> DataSource = new ObservableCollection<ListDataModel>();

    protected override void OnInitialized()
    {
        for (int i = 0; i < 5000; i++)
        {
            DataSource.Add(new ListDataModel { Id = i.ToString(), Text = "Text " + i.ToString() });
        }
    }

    void AddItem()
    {
        DataSource.Add(new ListDataModel { Id = "7", Text = "Test item" });
    }

    void RemoveItem()
    {
        DataSource.RemoveAt(0);
    }
}

<style>
    .e-listview {
        overflow: auto;
    }
</style>