@page "/HeatMap/12BubbleTypes"

<h4 class="sample-title">Bubble Heatmap</h4>

<div class="row">
    <div>
        <EjsHeatMap ID="Container" @ref="heatmapInstance" DataSource="@HeatmapData" >
            <HeatMapTitle Text="Female Participation Rate in Labor Force for the Countries"></HeatMapTitle>
            <HeatMapXAxis Labels="@xLabels" LabelRotation="45" LabelIntersectAction="@Syncfusion.EJ2.Blazor.HeatMap.LabelIntersectAction.None" TextStyle="TextStyle"></HeatMapXAxis>
            <HeatMapYAxis Labels="@yLabels"></HeatMapYAxis>
            <HeatMapPaletteSettings>
                <HeatMapPalettes>
                    <HeatMapPalette Value="35" Color="#50A3B1"></HeatMapPalette>
                    <HeatMapPalette Value="45" Color="#78D1BD"></HeatMapPalette>
                    <HeatMapPalette Value="55" Color="#CAE8B4"></HeatMapPalette>
                    <HeatMapPalette Value="65" Color="#EDF8B6"></HeatMapPalette>
                    <HeatMapPalette Value="78" Color="#FFFFDA"></HeatMapPalette>
                </HeatMapPalettes>
            </HeatMapPaletteSettings>
            <HeatMapCellSettings ShowLabel="false" Border="@border" TileType="@Syncfusion.EJ2.Blazor.HeatMap.CellType.Bubble" BubbleType="@Syncfusion.EJ2.Blazor.HeatMap.BubbleType.Size"></HeatMapCellSettings>
            <HeatMapLegendSettings Visible="true"></HeatMapLegendSettings>
        </EjsHeatMap>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://data.worldbank.org" target='_blank'>https://data.worldbank.org/</a>
        </div>
    </div>
</div>

@code{
    EjsHeatMap heatmapInstance;

    string[] xLabels = new string[] { "Singapore", "Spain", "Australia", "Germany", "Belgium", "USA", "France", "UK" };

    string[] yLabels = new string[] { "1995", "2000", "2005", "2010", "2015" };

    public FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };

    public BorderModel border = new BorderModel() { Width = 1 };

    public object HeatmapData = HeatMapData.tableBubbleData();

    public class Bubbletype
    {
        public string id { get; set; }

        public string text { get; set; }
    }

    List<Bubbletype> types = new List<Bubbletype>()
{
    new Bubbletype(){ id= "size", text= "Size" },
    new Bubbletype(){ id= "color", text= "Color" },
    new Bubbletype(){ id= "sector", text= "Sector" }
    };
    @*public void BubbleTypeChanged(ChangeEventArgs args)
        {
            Console.WriteLine(args.Value);
        }*@
}
