@page "/tooltip/11defaulttooltip"

<h4 class="sample-title">Simple Tooltip</h4>

<EjsTooltip HtmlAttributes="@HTMLProps">
    <button class="e-btn">Template</button>
    <TooltipTemplates>
        <Content>
            <h3>Template</h3>
            <EjsButton>Button</EjsButton>
        </Content>
    </TooltipTemplates>
</EjsTooltip>

<EjsTooltip Content="@content" OpensOn="Click" OpenDelay="500">
    <button class="e-btn">OpensOn & opendelay</button>
</EjsTooltip>

<EjsTooltip Content="@content" IsSticky="true" ShowTipPointer="false">
    <button class="e-btn">IsSticky & showTipPointer</button>
</EjsTooltip>

<EjsTooltip Content="@content" TipPointerPosition="TipPointerPosition.Start">
    <button class="e-btn">TipPointerPosition</button>
</EjsTooltip>

<EjsTooltip Content="@content" MouseTrail="true">
    <button class="e-btn">TipPointerPosition</button>
</EjsTooltip>

@code {
    string content = "This is tooltip";
    Dictionary<string, object> HTMLProps = new Dictionary<string, object>() {
        {"style" , "border: 1px dashed blue"}
    };
}

<style>
    .e-lib.e-tooltip {
        display: inline-block;
    }
</style>